.fullContainer {
  width: 100vw;
  height: 100vh;
  display: flex;

  .contentContainer {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .statisticsContainer {
      width: 95%;
      padding: 4em 2em;
      display: flex;
      justify-content: center;

      .chart {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          margin-bottom: 1em;
          font-size: 27px;
        }

        .show {
          display: block;
          visibility: visible;
        }

        .hide {
          display: none;
          visibility: hidden;
          pointer-events: none;
        }
      }

      .statistics {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10em;

        h2 {
          margin-bottom: 0.5em;
          font-size: 27px;
        }

        .donators {
          display: flex;
          flex-direction: column;
          align-items: center;

          .holder {
            margin-top: 0.1em;
            display: flex;
            align-items: center;

            .donator {
              font-size: 40px;
              margin-right: 15px;
              color: #670000;
            }

            .countUp {
              font-size: 50px;
              font-weight: bold;
            }
          }
        }

        .donations {
          display: flex;
          flex-direction: column;
          align-items: center;

          .holder {
            margin-top: 0.5em;
            display: flex;
            align-items: center;

            .donation {
              font-size: 38px;
              margin-right: 15px;
              color: #670000;
            }

            .countUp {
              font-size: 50px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
