@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  @include dFlex(row);

  .contentContainer {
    width: 80vw;
    height: 95%;
    @include dFlex(column, flex-start, center);

    .infoContainer {
      width: 95%;
      height: 100%;
      padding: 1.5em 0;
      @include dFlex(row, center);

      table {
        border: solid 1px $red;
        border-radius: 5px;
        border-spacing: 0;
        text-align: center;
        box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
      }

      th {
        color: $red;
        font-weight: 600;
      }

      th,
      td {
        padding: 0.4em 3em;
      }

      .th {
        border-right: solid 1px $red;
        border-bottom: solid 1px $red;
      }

      .lastTh {
        border-right: solid 1px $red;
      }

      .td {
        border-bottom: solid 1px $red;
      }
    }
  }
}
