.fullContainer {
  width: 100vw;
  height: 100vh;
  display: flex;

  .contentContainer {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tableContainer {
      width: 95%;
      height: 78%;
      padding: 1em 0;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      table {
        border: solid 1px #670000;
        border-radius: 5px;
        border-spacing: 0;
        text-align: center;
        box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);

        th {
          color: #fff;
          font-weight: 600;
          background-color: #670000;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        th,
        td {
          padding: 0.5em 2em;

          a {
            cursor: pointer;
            text-decoration: none;
            color: #000;
          }

          a:hover {
            color: #670000;
          }
        }
      }
    }
  }
}
