.fullContainer {
  width: 100vw;
  height: 100vh;
  display: flex;

  .contentContainer {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tableContainer {
      width: 95%;
      height: 78%;
      padding: 1em 0;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      table {
        border: solid 1px #670000;
        border-radius: 5px;
        border-spacing: 0;
        text-align: center;
        box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);

        th {
          color: #fff;
          font-weight: 600;
          background-color: #670000;
          padding: 0.5em 2em;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        td {
          padding: 0.5em 2em;
          #iconsDiv {
            display: flex;
            align-items: center;
            width: 100%;
            height: 23px;
            .show {
              visibility: visible;
              pointer-events: all;
            }

            .hide {
              display: none;
              visibility: hidden;
              pointer-events: none;
            }

            a {
              #editIcon {
                font-size: 25px;
                margin-right: 10px;
                color: #670000;
                margin-top: 5px;
              }

              #editIcon:hover {
                color: #3b0000;
              }
            }

            #activeIcon {
              font-size: 25px;
              color: #670000;
              cursor: pointer;
            }

            #activeIcon:hover {
              color: #3b0000;
            }

            #removeIcon {
              font-size: 25px;
              color: #670000;
              cursor: pointer;
            }

            #removeIcon:hover {
              color: #3b0000;
            }
          }

          a {
            cursor: pointer;
            text-decoration: none;
            color: #000;
          }

          a:hover {
            color: #670000;
          }
        }
      }
    }
  }
}
