.fullContainer {
  width: 100vw;
  height: 100vh;
  display: flex;

  .contentContainer {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .tableContainer {
      width: 95%;
      max-height: 77%;
      margin: 1em 0;
      overflow-y: auto;
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      justify-content: space-evenly;

      #donator {
        table {
          border: solid 1px #670000;
          border-radius: 5px;
          border-spacing: 0;
          text-align: justify;
          box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);

          caption {
            font-size: 20px;
            padding-bottom: 0.55em;
            color: #670000;
          }

          th {
            color: #670000;
            font-weight: 600;
          }

          th,
          td {
            padding: 0.5em 2em;
          }

          .th {
            border-right: solid 1px #670000;
            border-bottom: solid 1px #670000;
          }

          .lastTh {
            border-right: solid 1px #670000;
          }

          .td {
            border-bottom: solid 1px #670000;
          }
        }
      }

      #donation {
        table {
          border: solid 1px #670000;
          border-radius: 5px;
          border-spacing: 0;
          text-align: center;
          box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);

          caption {
            font-size: 20px;
            padding-bottom: 0.5em;
            color: #670000;
          }

          th {
            color: #fff;
            font-weight: 600;
            background-color: #670000;
          }

          tr:nth-child(even) {
            background-color: #f2f2f2;
          }

          th,
          td {
            padding: 0.5em 2em;

            a {
              cursor: pointer;
              text-decoration: none;
              color: #000;
            }

            a:hover {
              color: #670000;
            }
          }
        }
      }
    }
  }
}
