@mixin display-flex(
  $f-direction: column,
  $j-content: center,
  $a-items: center
) {
  display: flex;
  flex-direction: $f-direction;
  justify-content: $j-content;
  align-items: $a-items;
}

@mixin box-shadow($x: 0, $y: 0, $b: 0) {
  box-shadow: $x $y $b rgba(0, 0, 0, 0.25);
}
