@import "../Variables.scss";
@import "../Mixins.scss";

form {
  @include display-flex();

  .user-holder {
    @include display-flex(row, center, center);

    .user-icon {
      padding: 0.435em;
      border-radius: 5px 0 0 5px;
      background-color: $red;
      @include display-flex();

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .password-holder {
    @include display-flex(row, center, center);

    .password-icon {
      margin-top: 1.25em;
      padding: 0.435em;
      border-radius: 5px 0 0 5px;
      background-color: $red;
      @include display-flex();

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  input[type="text"] {
    width: clamp(30%, 12em, 100%);
    padding: 0.75em;
    font-size: 1.001em;
    border-radius: 0 5px 5px 0;
    background-color: $gray;
  }

  input[type="text"]::placeholder {
    $gray: hsl(0, 0%, 60%);
    color: $gray;
  }

  input[type="submit"] {
    margin-top: 1.25em;
    padding: 0.5em;
    width: 5.5em;
    font-size: 1.15em;
    font-weight: 600;
    border: solid 2px $red;
    border-radius: 5px;
    color: $white;
    background-color: $red;
    transition: 150ms ease-in;
  }

  input[type="submit"]:hover {
    background-color: $white;
    color: $red;
  }

  input[type="submit"]:focus {
    background-color: $white;
    color: $red;
  }

  #password {
    margin-top: 1.25em;
  }
}

a {
  position: relative;
  top: 4.5%;
  $gray: hsl(0, 0%, 60%);
  color: $gray;
}

a:hover {
  color: $red;
}

a:focus {
  color: $red;
}
