.fullContainer {
  width: 100vw;
  height: 100vh;
  display: flex;

  .contentContainer {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .formContainer {
      width: 95%;
      height: 75.5%;
      margin: 1em 0 2em 0;
      overflow-y: auto;
      display: flex;
      justify-content: center;

      .subTitleContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 22px;
        }
        .iconContainer {
          margin-right: 10px;
        }
      }

      form {
        label {
          color: #670000;
        }

        input[type="text"] {
          width: 410px;
          font-size: 1em;
          padding: 0.4em;
          border: solid 1px #670000;
        }

        input[type="number"] {
          width: 410px;
          font-size: 1em;
          padding: 0.4em;
          border: solid 1px #670000;
        }

        input[type="date"] {
          width: 410px;
          font-size: 1em;
          padding: 0.4em;
          border: solid 1px #670000;
        }

        .buttonContainer {
          width: 100%;
          margin-bottom: 2em;
          display: flex;
          justify-content: center;
          align-items: center;

          input {
            width: 130px;
            font-size: 1.1em;
            font-weight: 600;
            padding: 0.75em;
            border-radius: 30px;
            color: #fff;
            background: #670000;
            transition: 100ms ease;
          }

          input:hover {
            background: #410000;
          }
        }
      }
    }
  }
}
