.fullContainer {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .titleContainer {
    width: 95%;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .inputContainer {
      display: flex;
      align-items: center;

      form {
        display: flex;
        align-items: center;
        input {
          padding: 0.5em 0.5em;
          font-size: 16px;
          border-radius: 5px 0 0 5px;
          box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
        }

        button {
          padding: 0.58em 0.75em;
          font-size: 18px;
          border-radius: 0 5px 5px 0;
          box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
          color: #fff;
          background: #670000;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 150ms ease;
        }

        button:hover {
          background: #410000;
        }
      }
    }
  }

  .functionsContainerRegister {
    width: 95%;
    height: 40px;
    border-top: solid 1px hsla(0, 0%, 0%, 0.2);
    border-bottom: solid 1px hsla(0, 0%, 0%, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
      width: 45px;
      height: 28px;
      font-size: 30px;
      border-radius: 5px;
      color: #fff;
      background: #670000;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 150ms ease;
    }

    button:hover {
      background: #410000;
    }
  }

  .functionsContainerDetails {
    width: 95%;
    height: 40px;
    border-top: solid 1px hsla(0, 0%, 0%, 0.2);
    border-bottom: solid 1px hsla(0, 0%, 0%, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 45px;
      height: 28px;
      font-size: 30px;
      border-radius: 5px;
      color: #fff;
      background: #670000;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 150ms ease;
    }

    button:hover {
      background: #410000;
    }

    .show {
      visibility: visible;
      pointer-events: all;
    }

    .hide {
      display: none;
      visibility: hidden;
      pointer-events: none;
    }

    #activeIcon {
      font-size: 32px;
      color: #670000;
      display: flex;
      align-items: center;
      transition: 150ms ease;
      cursor: pointer;
    }

    #activeIcon:hover {
      color: #410000;
    }

    .show {
      display: flex;
      align-items: center;

      a {
        font-size: 32px;
        color: #670000;
        display: flex;
        align-items: center;
        transition: 150ms ease;
      }

      a:hover {
        color: #410000;
      }

      #pdfIcon {
        font-size: 25px;
        cursor: pointer;
        color: #670000;
        display: flex;
        align-items: center;
        transition: 150ms ease;
        margin-right: 7px;
      }

      #pdfIcon:hover {
        color: #410000;
      }

      #removeIcon {
        font-size: 32px;
        cursor: pointer;
        color: #670000;
        display: flex;
        align-items: center;
        transition: 150ms ease;
      }

      #removeIcon:hover {
        color: #410000;
      }

      .paddedIcons {
        padding-right: 0.25em;
      }
    }
  }

  .functionsContainer {
    width: 95%;
    height: 40px;
    border-top: solid 1px hsla(0, 0%, 0%, 0.2);
    border-bottom: solid 1px hsla(0, 0%, 0%, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      font-size: 32px;
      color: #670000;
      display: flex;
      align-items: center;
      transition: 150ms ease;
    }

    a:hover {
      color: #410000;
    }

    #removeIcon {
      font-size: 32px;
      cursor: pointer;
      color: #670000;
      display: flex;
      align-items: center;
      transition: 150ms ease;
    }

    #removeIcon:hover {
      color: #410000;
    }

    .paddedIcons {
      padding-right: 0.25em;
    }
  }
}
