@import "../styles/Variables.scss";
@import "../styles/Mixins.scss";

.container {
  width: 100vw;
  height: 100vh;
  @include dFlex(row);

  .contentContainer {
    width: 80vw;
    height: 100%;
    @include dFlex(column);

    .tableContainer {
      margin-top: 2em;
      width: 100%;
      height: 100%;
      @include dFlex(row, center);

      table {
        border: solid 1px $red;
        border-radius: 5px;
        border-spacing: 0;
        text-align: center;
        box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
      }

      th {
        color: $red;
        font-weight: 600;
      }

      th,
      td {
        padding: 0.5em 2em;
      }

      #th1 {
        border-right: solid 1px $red;
        border-bottom: solid 1px $red;
      }

      #th2 {
        border-right: solid 1px $red;
        border-bottom: solid 1px $red;
      }

      #th3 {
        border-right: solid 1px $red;
        border-bottom: solid 1px $red;
      }

      #th4 {
        border-bottom: solid 1px $red;
      }

      #td1 {
        border-right: solid 1px $red;
      }

      .td2 {
        border-right: solid 1px $red;

        a {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        a:hover {
          color: $red;
        }
      }

      .td3 {
        border-right: solid 1px $red;
      }
    }
  }
}
