@import "../styles/Variables.scss";
@import "../styles/Mixins.scss";

.container {
  width: 100vw;
  height: 100vh;
  @include dFlex();

  .loginContainer {
    width: 40%;
    height: 100%;
    @include dFlex(column, center, center);

    .topDiv {
      width: 320px;
      height: 100px;
      border-radius: 10px 10px 0 0;
      background: $red;
      @include dFlex(column, center, center);

      h1 {
        color: $white;
        font-weight: 400;
        font-size: 2.25em;
      }
    }

    .bottomDiv {
      width: 320px;
      height: 280px;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 4px 4px $black40;
      form {
        width: 100%;
        height: 90%;
        @include dFlex(column, center, center);
        .inputContainer {
          margin-bottom: 1.25em;
          @include dFlex(row, center, center);
          .iconContainer {
            background: $red;
            padding: 0.44em 0.5em;
            border-radius: 5px 0 0 5px;
            @include dFlex(row, center, center);
            img {
              width: 24px;
              height: auto;
            }
          }

          input[type="text"],
          input[type="password"] {
            width: 75%;
            padding: 0.5em 1em;
            font-size: 1em;
            border-radius: 0 5px 5px 0;
            color: $grey;
            background: $grey60;
          }
        }

        input[type="submit"] {
          padding: 0.5em 1.5em;
          font-size: 1.05em;
          font-weight: bold;
          border-radius: 50px;
          border: solid 2px $red;
          color: $white;
          background: $red;
          transition: 100ms ease-in-out;
        }

        input[type="submit"]:hover {
          background: $white;
          color: $red;
        }
      }
    }
  }

  .logoContainer {
    width: 60%;
    height: 100%;
    background: $red;
    @include dFlex(column, center, center);

    .logoPlacer {
      width: 100%;
      height: 90%;
      @include dFlex(column, center, center);

      .logoBackground {
        background: $white;
        border-radius: 50%;
        padding: 0.5em;
        @include dFlex(row, center, center);

        img {
          width: 250px;
          height: auto;
        }
      }
    }

    .copyrightContainer {
      width: 100%;
      height: 10%;
      @include dFlex(column, center, center);
    }
  }
}

// Mobile
